html,
body {
  background-color: #121d78;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#121d78));
  background-image: -webkit-linear-gradient(top, #000000, #121d78);
  background-image:    -moz-linear-gradient(top, #000000, #121d78);
  background-image:     -ms-linear-gradient(top, #000000, #121d78);
  background-image:      -o-linear-gradient(top, #000000, #121d78);
  background-image:         linear-gradient(top, #000000, #121d78);
  filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr=#000000, endColorStr=#121d78);
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#000000, endColorStr=#121d78)";
  background-repeat: no-repeat;
  color: #eee;
  font : 12px/16px Helvetica, sans-serif;
}

.clear {
  clear: both;
}

img {
  border: 0;
}

a,
a:visited {
  color: #ea0;
}

a:hover {
  color: #edff00;
}

body {
  margin: 0 auto;
  width: 780px;
}

/* nav bar */
#nav {
  font-size: 1.3em;
  padding: 5px 0;
}

#nav > a,
#nav > a:hover,
#nav > a:visited {
  color: #ea0;
  display: block;
  float: left;
  padding: 26px 5px;
  text-decoration: none;
}

#nav > a:hover,
#nav > a.selected {
  color: #edff00;
}

#nav > #logo {
  padding: 0;
}

#content,
#installed {
  background-color: #c9dcf6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 8px #999;
  -moz-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;
  clear: both;
  color: black;
  font: 1.2em/1.3em Helvetica, sans-serif;
  margin-top: 5px;
  padding: 20px;
  text-align: left;
}
#content.index {
  padding-bottom: 0;
}
#installed {
  line-height: 35px;
  padding: 5px 15px;
  vertical-align: middle;
}
#installed img {
  float: left;
  padding-top: 15px;
}
#installed-msg {
  float: left;
}

.info,
#donate-pic,
#thumbnail,
#donate {
  background-color: #467cc2;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 8px #999;
  -moz-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;
  color: black;
  float: right;
  margin-bottom: 20px;
  text-align: left;
  width: 320px;
}
.info {
  font: 0.8em/1.4em Helvetica, sans-serif;
  padding: 10px;
}
.info h2 {
  color: #333;
  font: bold 2em/1.4em Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#content.index .info {
  float: left;
  font: bold 1.2em/1.2em Helvetica,sans-serif;
  width: 285px;
}
#content.index .info h1 {
  font: bold 1.4em/1.2em Helvetica,sans-serif;
}
#content.index .info img {
  float: left;
}
#content.index .info a {
  text-decoration: none;
}

#counter {
  color: #333;
  font: bold 0.9em/1.4em Helvetica, sans-serif;
  margin-top: 10px;
}

#sidebar {
  float: right;
  margin-left: 20px;
  padding-bottom: 20px;
  text-align: right;
  width: 320px;
}
#content.index #sidebar {
  float: left;
  margin-left: 0;
  margin-right: 20px;
  padding-bottom: 0;
  width: 422px;
}
#content.index #thumbnail {
  width: 422px;
}

#content ul {
  margin: 0;
  padding-left: 25px;
}

#footer {
  font-size: 8pt;
  margin: 10px 0;
  text-align: right;
}

h1 {
  color: #333;
  font: bold 2em/1.4em Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h2 {
  text-decoration: underline;
}

.smaller {
  font-size: 8pt;
}

/* hr styling */
.hr {
  height: 15px;
  /*background: #9bd1fa url('images/hr1.gif') no-repeat scroll left;*/
  padding: 7px 0;
}

.padded {
  margin: 5px 80px;
}

.hr hr {
  display: none;
}

#ad {
  background-color: #c9dcf6;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 8px #999;
  -moz-box-shadow: 0 0 8px #999;
  box-shadow: 0 0 8px #999;
  color: black;
  float: right;
  font-size: 12px;
  line-height: 10px;
  margin: 16px auto 0 auto;
  padding: 2px;
  text-align: right;
  width: 430px;
}
#ad-inner {
  background-color: black;
  border-spacing: 0;
  font-size: 1.3em;
  line-height: 32px;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 5px;
  text-align: center;
  width: 430px;
}

#ad td {
  border-spacing: 0;
  cursor: pointer;
  padding: 0;
}

#ad td a,
#ad td a:hover,
#ad td a:visited {
  color: #03c;
  display: block;
  padding: 5px;
  text-decoration: none;
}
#ad td a:hover {
  color: #03f;
}

#ad span {
  color: #999;
  font-size: 0.7em;
}

/*donate*/
#donations th,
#donations td {
  vertical-align: top;
}
#donations th,
#donations td {
  padding: 0 10px;
}
#total td {
  font-weight: bold;
}
#total td {
  border-top: 3px double black;
}


/*help*/
h4 {
  color: #06c;
  cursor: pointer;
  margin: 5px 0;
}

.stretcher {
  display: none;
  margin: 0 0 0 20px;
}

#search {
  background-color: #0cf;
  border: 1px solid #999;
}


.strike {
  text-decoration: line-through;
}
