/*----------------[ common ]-----------------*/

.paddingTop {
  padding-top         : 8px;
}

.paddingLeft {
  padding-left        : 8px;
}

.paddingRight {
  padding-right       : 8px;
}

.overflowBox {
  overflow            : auto;
}

.boldText {
  font-weight         : bold;
}

.textLink {
  color               : blue;
  cursor              : pointer;
}

.required[missing="true"] {
  -moz-appearance     : none;
  border              : 1px inset ThreeDShadow;
  background-color    : #f5f6be;
}

.optional input {
  color: #aaa;
}

textbox[type="number"][hidespinbuttons="true"] {
  padding             : 2px 2px 3px 4px !important;
}

/*----------------[ fireftp.xul ]-----------------*/

toolbar {
  -moz-appearance     : none;
}

toolbarbutton {
  -moz-user-focus     : normal;
}

#retrieveButton {
  list-style-image    : url("chrome://fireftp/skin/icons/fireftp.png");
  -moz-image-region   : rect(0 16px 16px 0);
}
#retrieveButton:not([disabled="true"]):hover,
#retrieveButton[buttonover="true"] {
  -moz-image-region  : rect(16px 16px 32px 0);
}
#retrieveButton[disabled="true"] {
  -moz-image-region  : rect(32px 16px 48px 0);
}
#retrieveButton:not([disabled="true"]):hover:active {
  -moz-image-region  : rect(48px 16px 64px 0);
}

#storeButton {
  list-style-image    : url("chrome://fireftp/skin/icons/fireftp.png");
  -moz-image-region   : rect(0 32px 16px 16px);
}
#storeButton:not([disabled="true"]):hover,
#storeButton[buttonover="true"] {
  -moz-image-region   : rect(16px 32px 32px 16px);
}
#storeButton[disabled="true"] {
  -moz-image-region   : rect(32px 32px 48px 16px);
}
#storeButton:not([disabled="true"]):hover:active {
  -moz-image-region   : rect(48px 32px 64px 16px);
}

.upButton {
  list-style-image    : url("chrome://fireftp/skin/icons/fireftp.png");
  -moz-image-region   : rect(0 48px 16px 32px);
}
.upButton:not([disabled="true"]):hover,
.upButton[buttonover="true"] {
  -moz-image-region   : rect(16px 48px 32px 32px);
}
.upButton[disabled="true"] {
  -moz-image-region   : rect(32px 48px 48px 32px);
}
.upButton:not([disabled="true"]):hover:active {
  -moz-image-region   : rect(48px 48px 64px 32px);
}

.refreshButton {
  list-style-image    : url("chrome://fireftp/skin/icons/fireftp.png");
  -moz-image-region   : rect(0 64px 16px 48px);
}
.refreshButton:not([disabled="true"]):hover,
.refreshButton[buttonover="true"] {
  -moz-image-region   : rect(16px 64px 32px 48px);
}
.refreshButton[disabled="true"] {
  -moz-image-region   : rect(32px 64px 48px 48px);
}
.refreshButton:not([disabled="true"]):hover:active {
  -moz-image-region   : rect(48px 64px 64px 48px);
}

treechildren::-moz-tree-image(nameCol) {
  margin-right        : 2px;
  max-width           : 16px;
  max-height          : 16px;
  width               : 16px;
  height              : 16px;
}

.fileTree::-moz-tree-image(isFolder), .dirTree::-moz-tree-image(closed) {
  list-style-image    : url("chrome://fireftp/skin/icons/fireftp.png");
  -moz-image-region   : rect(0 79px 16px 64px);
  margin-right        : 2px;
}

.dirTree::-moz-tree-image(open) {
  list-style-image    : url("chrome://fireftp/skin/icons/fireftp.png");
  -moz-image-region   : rect(0 96px 16px 80px);
  margin-right        : 1px;
}

.fileTree::-moz-tree-image(isLink) {
  list-style-image    : url("chrome://fireftp/skin/icons/fireftp.png");
  -moz-image-region   : rect(0 112px 16px 96px);
}

.fileTree::-moz-tree-cell-text(hidden), .fileTree::-moz-tree-cell-text(cut), .dirTree::-moz-tree-cell-text(hidden) {
  color               : GrayText;
}

#retrieveButton, #storeButton {
  margin-left         : 3px;
  margin-right        : 3px;
  -moz-box-pack       : center;
  min-width           : 0;
}

#localsize, #remotesize, #queuebytes, #queueela, #queuerem, #queuerate, #queuepercent {
  text-align          : right;
}

#cmdlog {
  background-color    : white;
  min-height          : 30px;
}

statusbarpanel {
  text-align          : center;
}

#statustxt {
  text-align          : left;
}

#statustype {
  min-width           : 60px;
}

#statuselapsed, #statusremaining {
  min-width           : 75px;
}

#statusrate {
  min-width           : 85px;
}

#statusmeterpanel {
  padding             : 0 4px;
}

#statusmeter {
  min-width           : 96px;
  margin              : 1px 0;
}

#remotepath[disconnected="true"] {
  color               : GrayText;
}

#localdirtree treecols, #remotedirtree treecols {
  height              : 0;
}

treechildren::-moz-tree-cell-text(dropBefore, nameCol, overName) {
  color               : HighlightText;
  background-color    : Highlight;
}

treechildren::-moz-tree-cell-text(dropAfter, nameCol, overName) {
  color               : HighlightText;
  background-color    : Highlight;
}

treechildren::-moz-tree-drop-feedback {
  background-color    : transparent;
}

treechildren::-moz-tree-cell-text(disconnected) {
  color               : GrayText;
}

treechildren[search="true"] {
  background-color    : #ccffcc;
}

#identity-box {
  margin: 1px;
  border-radius: 2px;
  padding: 1px;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  text-shadow: 0 1px rgba(255, 255, 255, 0.2);
}


#identity-box:-moz-focusring {
  box-shadow: 0 0 2px 1px -moz-mac-focusring inset,
              0 0 2px 2px -moz-mac-focusring;
}

#identity-box {
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
  -moz-margin-end: 3px;
}

#identity-box {
  background-image: -moz-linear-gradient(#FFF, #DDD);
}

#identity-box:active:hover,
#identity-box[open="true"] {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.35),
              inset 0 0 0 20px rgba(0, 0, 0, 0.06);
}

#identity-box.verifiedDomain {
  background-image: -moz-linear-gradient(#588EC6, #3C68AE)
}

#page-proxy-deck, #page-proxy-favicon, #page-proxy-button {
  width               : 16px;
  height              : 16px;
  margin              : 0;
  padding             : 0;
}

#localpath, #remotepath {
  width: 7em;
  min-width: 7em;
  -moz-appearance: none;
  box-shadow: 0 1px rgba(255, 255, 255, 0.2);
  margin: 3px 4px;
  padding: 0;
  border-radius: 3px;
  min-height: 22px;
  border: 1px solid transparent;
  background-image: -moz-linear-gradient(#D6D6D6, #D6D6D6 1px, #F7F7F7 1px, #F7F7F7 2px, #FFF 2px, #FFF),
                    -moz-linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.2));
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
}


#localpath:-moz-window-inactive, #remotepath:-moz-window-inactive {
  background-image: -moz-linear-gradient(#D6D6D6, #D6D6D6 1px, #F7F7F7 1px, #F7F7F7 2px, #FFF 2px, #FFF),
                    -moz-linear-gradient(rgba(146, 146, 146, 0.84), rgba(146, 146, 146, 0.84));
}

#localpath[focused="true"], #remotepath[focused="true"] {
  background-color: -moz-mac-focusring;
  background-image: -moz-linear-gradient(#D6D6D6, #D6D6D6 1px, #F7F7F7 1px, #F7F7F7 2px, #FFF 2px, #FFF),
                    -moz-linear-gradient(rgba(0,0,0,.1), rgba(0,0,0,.1));
  box-shadow: 0 0 1px -moz-mac-focusring inset, 0 0 4px 1px -moz-mac-focusring, 0 0 1.5px 1px -moz-mac-focusring;
}

#page-proxy-deck {
  margin              : 0 1px;
}

#page-proxy-favicon {
  list-style-image    : none;
}

#page-proxy-button {
  list-style-image    : url("chrome://fireftp/skin/icons/fireftp.png") !important;
  -moz-image-region   : rect(16px, 112px, 32px, 96px);
}

#searchToolbar,
#customToolbar {
  -moz-appearance           : none !important;
  border-top                : 2px solid;
  -moz-border-top-colors    : ThreeDShadow ThreeDHighlight !important;
  border-bottom             : 1px solid;
  -moz-border-bottom-colors : transparent;
}

#searchClosebutton,
#customClosebutton {
  border              : 1px solid transparent;
  padding             : 3px 2px 4px 2px !important;
  list-style-image    : url("chrome://fireftp/skin/icons/close.png");
  -moz-appearance     : none;
  -moz-image-region   : rect(0, 16px, 16px, 0);
}

#searchClosebutton > .toolbarbutton-icon,
#customClosebutton > .toolbarbutton-icon {
  -moz-margin-end     : 0 !important;
  -moz-padding-end    : 2px !important;
  -moz-padding-start  : 2px !important;
}

#searchClosebutton:hover,
#customClosebutton:hover {
  -moz-image-region   : rect(0, 32px, 16px, 16px);
}

#searchClosebutton:hover:active,
#customClosebutton:hover:active {
  -moz-image-region   : rect(0, 48px, 16px, 32px);
}

#searchStatusIcon {
  list-style-image    : none;
  margin-top          : 2px;
  margin-bottom       : 0;
  -moz-margin-start   : 12px;
  -moz-margin-end     : 0;
  width               : 16px;
  height              : 16px;
}

#searchStatus {
  margin-top          : 0;
  margin-bottom       : 0;
  -moz-margin-start   : 3px;
  -moz-margin-end     : 0;
  padding             : 2px;
}

#searchStatusIcon[status="notfound"] {
  list-style-image    : url("chrome://fireftp/skin/icons/notfound.png");
}

#searchFile,
#customCmd {
  -moz-appearance     : none;
  border              : none;
  margin              : 0;
}

#searchFile[status="notfound"] {
  background-color    : #ff6666;
  color               : #ffffff;
}

#searchContainer,
#customContainer {
  -moz-appearance     : textfield;
}

#lqtabs {
  padding             : 0;
}

#cmdlog {
  border              : 2px solid;
  -moz-border-top-colors    : ThreeDShadow    ThreeDDarkShadow;
  -moz-border-right-colors  : ThreeDHighlight ThreeDLightShadow;
  -moz-border-bottom-colors : ThreeDHighlight ThreeDLightShadow;
  -moz-border-left-colors   : ThreeDShadow    ThreeDDarkShadow;
}

/* Popup Icons */
#identity-popup-icon {
  height: 64px;
  width: 64px;
  padding: 0;
  list-style-image: url("chrome://fireftp/skin/icons/identity.png");
  -moz-image-region: rect(0, 64px, 64px, 0);
}

#identity-popup.verifiedDomain > #identity-popup-container > #identity-popup-icon {
  -moz-image-region: rect(64px, 64px, 128px, 0);
}

#identity-popup.verifiedIdentity > #identity-popup-container > #identity-popup-icon {
  -moz-image-region: rect(128px, 64px, 192px, 0);
}

/* Popup Body Text */
.identity-popup-description {
  white-space: pre-wrap;
  -moz-padding-start: 15px;
  margin: 2px 0 4px;
}

.identity-popup-label {
  white-space: pre-wrap;
  -moz-padding-start: 15px;
  margin: 0;
}

#identity-popup-content-host ,
#identity-popup-content-owner {
  font-weight: bold;
  max-width: 300px;
}

#identity-popup-content-host ,
#identity-popup-content-box.verifiedIdentity > #identity-popup-content-owner {
  font-size: 140%;
}

#identity-popup-content-owner {
  margin-bottom: 0 !important;
}

#identity-popup-content-verifier {
  margin: 4px 0 2px;
}

#identity-popup-content-box.verifiedIdentity > #identity-popup-encryption ,
#identity-popup-content-box.verifiedDomain > #identity-popup-encryption {
  margin-top: 10px;
  -moz-margin-start: -24px;
}

#identity-popup-content-box.verifiedIdentity > #identity-popup-encryption > vbox > #identity-popup-encryption-icon ,
#identity-popup-content-box.verifiedDomain > #identity-popup-encryption > vbox > #identity-popup-encryption-icon {
  margin-top: 5px;
  list-style-image: url("chrome://fireftp/skin/icons/Secure24.png");
}


menuitem[defaultAction="true"] {
  font-weight         : bold;
}

/*----------------[ confirmFile.xul ]-----------------*/

#fileBox {
  border-top          : 1px solid black;
  border-bottom       : 1px solid black;
  margin              : 5px 0;
  padding             : 5px 0;
}

/*----------------[ diff.xul ]-----------------*/

#diffTree treechildren::-moz-tree-checkbox(checked) {
  list-style-image    : url("chrome://fireftp/skin/icons/cbox-check.gif");
}

/*----------------[ properties.xul ]-----------------*/

image.isFolder {
  list-style-image    : url("chrome://fireftp/skin/icons/properties.png");
  -moz-image-region   : rect(0 32px 32px 0);
}

image.isLink {
  list-style-image    : url("chrome://fireftp/skin/icons/properties.png");
  -moz-image-region   : rect(32px 32px 64px 0);
}

image.isMultiple {
  list-style-image    : url("chrome://fireftp/skin/icons/properties.png");
  -moz-image-region   : rect(64px 32px 96px 0);
}

.textfield {
  -moz-appearance     : none;
  background-color    : transparent;
  border              : 0;
  margin              : 0;
  width               : 400px;
}

#webboxDiv {
  line-height         : 135px;
  width               : 188px;
  height              : 150px;
  text-align          : center;
}

#canvas {
  position            : absolute;
  top                 : 0;
  left                : 0;
}

#viewButton {
  -moz-box-pack       : center;
  min-width           : 0;
}

#hashrow {
  margin-top          : 10px;
}

/*----------------[ welcome.xul ]-----------------*/

#thegoodbook {
  background-color    : maroon;
  color               : white;
  font-style          : italic;
}

.mozillaquote {
  padding             : 25px;
  font-size           : 1.1em;
  font-family         : serif;
  line-height         : 1.5;
  text-align          : center;
}

.mozillafrom {
  padding             : 25px;
  font-size           : 1.95em;
  font-family         : serif;
  text-align          : right;
}

em {
  font-size           : 1.3em;
  line-height         : 0;
}
