#fireftp-button, #fireftp-button2, #fireftptoolsmenu, #fireftpcontentarea, #fireftpcontextmenu, #appmenu_fireftp, #menu_webDeveloper_fireftp {
  list-style-image    : url("chrome://fireftp/skin/icons/logo32.png");
}
